<div class="dessert-modal-overlay">
  <div class="dessert-modal">
    <button type="button" class="dessert-modal-close" aria-label="button">
      <svg class="dessert-modal-icon" width="24" height="24">
        <use href="./img/icons/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="dessert-modal-container">

      <!--
         <div class="dessert-modal-card">
          <div class="dessert-modal-wrapper">
        <img class="dessert-modal-img" src="./img/hero-mob2x.jpg" alt="dessert list">
      </div>
      <h2 class="dessert-modal-product">Шоколадний фондан</h2>
      <p class="dessert-modal-price">120 грн</p>
      <div class="dessert-modal-rate">*****</div>
      <p class="dessert-modal-description">Класичний десерт з рідким шоколадним центром.</p>

      <p class="dessert-modal-compound"><span>Склад </span>: Шоколад, яйця, цукор, масло, борошно.</p>
      <button class="dessert-modal-btn" type="button">
        Перейти до замовлення
      </button>
    </div>
       -->
    </div>
  </div>
</div>