<header class="header">
  <div class="container header-container">
    <a class="header-link-logo" href="../index.html" aria-label="Sweet Shop home page">
      <svg class="header-logo" width="150" height="72">
        <use href="/img/icons.svg#logo"></use>
      </svg>

    </a>
    <button class="header-burger-btn" aria-label="button">
      <svg class="header-burger-icon icon-burger" width="24" height="24">
        <use href="/img/icons.svg#menu"></use>
      </svg>

      <svg class="header-burger-icon icon-close" width="24" height="24">
        <use href="/img/icons.svg#close"></use>
      </svg>
    </button>
  </div>
</header>