<div class="mobile is-hidden">
  <div class="container">
    <nav class="mobile-nav">
      <ul class="mobile-list">
        <li class="mobile-item">
          <a class="mobile-link" href="#">Солодощі</a>
        </li>
        <li class="mobile-item">
          <a class="mobile-link" href="#">Про нас</a>
        </li>
        <li class="mobile-item">
          <a class="mobile-link" href="#">Відгуки</a>
        </li>
        <li class="mobile-item">
          <a class="mobile-link" href="#">Часті питання</a>
        </li>
      </ul>
      <a class="mobile-link-btn" href="#">До покупок</a>
    </nav>
  </div>
</div>