<section class="section section-popular-product">
  <div class="container">
    <div class="container-popular-product">
      <h2 class="popular-product-title title">Наші бестселлери</h2>

      <div class="popular-swiper swiper">
        <ul class="popular-product-list swiper-wrapper"></ul>
      </div>

      <div class="popular-controls">
        <div class="swiper-pagination">
            <span class="dot active"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>

        </div>

        <div class="popular-buttons">
          <button class="popular-prev" type="button" aria-label="Previous slide">
            Prev
          </button>

          <button class="popular-next" type="button" aria-label="Next slide">
            Next
          </button>
        </div>

      </div>

    </div>
  </div>
</section>