.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-link-logo {
  display: flex
}

.header-logo {
  fill: #080C0C;
}

.header-burger-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 12px 0;
  padding: 12px;
  border: none;
  background-color: transparent;
}

.header-burger-icon {

  stroke: #080C0C;
}

.icon-close {
  display: none;
}

.header-burger-btn.is-open .icon-burger {
  display: none;
}

.header-burger-btn.is-open .icon-close {
  display: block;
}